
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}
.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/****************End Reset Stylesheet************************/




*{
	margin:0;padding:0;
}

body {
	background: url(../images/graybg.jpg);
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #333;
	font-weight: 400;
}

a{
	color:#333;
}

a:hover{
	text-decoration: none;
	color: #0478B1;
}

.wrapper {
	background: url(../images/page-bg.png) repeat-x;
}

*:focus{
	/*outline: solid 1px #698ED3;*/
	outline: none;
}
button:focus{
	outline: none;
}

/***********Start Login Page Styles********************/


.log-in .wrapper {
	background: url(../images/login-bg.png) repeat-x;
	padding-top: 129px;
}

section.login-box {
	width: 440px;
	height: 432px;
	margin: 0 auto;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(251,251,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(251,251,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(251,251,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(251,251,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(251,251,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 0px 6px 4px rgba(119, 119, 119, 0.16);
	-moz-box-shadow: 0px 0px 6px 4px rgba(119, 119, 119, 0.16);
	-webkit-box-shadow: 0px 0px 6px 4px rgba(119, 119, 119, 0.16);
	margin-bottom: 250px;
}

section.login-box form{
	background: #fff url(../images/md-logo.jpg) no-repeat 50% 10px;
	padding-top: 150px;
}

section.login-box label{
	display:none;
}

section.login-box input{
	width: 232px;
	height:28px;
	display:block;
	margin: 10px auto;
	border: solid 4px #EAEAEA;
	border-radius: 5px;
	font-size: 1.333em;
	padding: 0 5px;
	font-style: italic;
	font-weight: 300;
	color:#999;
}

section.login-box input:focus{
	border: solid 4px rgba(105, 142, 211, 0.31);
}

section.login-box input.cleared {
	font-style: normal;
	color:#333;
}

section.login-box input[type=submit]{
	height: 40px;
	width: 250px;
	border: solid 2px #A6E267;
	color: #60A330;
	font-size: 2em;
	font-weight: 700;
	font-style: normal;
	background: rgb(215,242,187); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(215,242,187,1) 1%, rgba(166,226,103,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(215,242,187,1)), color-stop(100%,rgba(166,226,103,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(215,242,187,1) 1%,rgba(166,226,103,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(215,242,187,1) 1%,rgba(166,226,103,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(215,242,187,1) 1%,rgba(166,226,103,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(215,242,187,1) 1%,rgba(166,226,103,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7f2bb', endColorstr='#a6e267',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
}

section.login-box input[type=submit]:focus{
	border: solid 2px rgba(105, 142, 211, 0.86);
}

section.login-box input[type=submit]:hover{
	background: rgb(166,226,103); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(166,226,103,1) 0%, rgba(215,242,187,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(166,226,103,1)), color-stop(99%,rgba(215,242,187,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(166,226,103,1) 0%,rgba(215,242,187,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(166,226,103,1) 0%,rgba(215,242,187,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(166,226,103,1) 0%,rgba(215,242,187,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(166,226,103,1) 0%,rgba(215,242,187,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e267', endColorstr='#d7f2bb',GradientType=0 ); /* IE6-9 */

}

.login-box p {
	width: 250px;
	margin: 0 auto;
	font-weight: 300;
}


/*****End Login Page Styles*****/

.footer{
	width: 100%;
	font-style: italic;
	box-sizing: border-box;
	padding: 0 100px 30px;
	margin-top:50px;
}

.footer p:nth-child(1) {
	float:left;
}

.footer p:nth-child(2) {
	float:right;
}


/********Start Main Styles****************/

section.page{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(251,251,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(251,251,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(251,251,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(251,251,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(251,251,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 0px 6px 4px rgba(119, 119, 119, 0.16);
	-moz-box-shadow: 0px 0px 6px 4px rgba(119, 119, 119, 0.16);
	-webkit-box-shadow: 0px 0px 6px 4px rgba(119, 119, 119, 0.16);
	width: 1050px;
	margin: 30px auto 0;
	padding: 20px;
	box-sizing: border-box;
	min-height: 650px;
}


section.user{
	width: 1050px;
	margin: 0 auto;
}

nav a:hover{
	color: #333;
}

nav.topnav ul{
	width: 220px;
	float:left;
}

nav.topnav li a{
	color: #fff;
	text-decoration: none;
	display: block;
}
nav.topnav li.username > a{
	font-size: 1.667em;
	font-weight: 700;
	width: 200px;
	height: 38px;
	padding: 6px 0 6px 20px;
	background: url(../images/dwn-arrow-white.png) no-repeat 5px 30%;
}


nav.topnav li.username > a span{
	font-size: .650em;
	font-weight: 300;
	display:block;
	margin-top: 5px;
}

nav.topnav li.username:hover > a{
	background-color: #1B1B1B;;
}

nav.topnav ul li ul{
	/*transition: opacity 0.2s ease-out;
	opacity: 0;*/
	position: absolute;
	/*width:0px;*/
	background: #1B1B1B;
	margin-top: -3px;
	display: none;
}

nav.topnav ul li:hover ul{
	/*transition: opacity 0.2s ease-in;
	opacity: 1;
	height:auto;
	width: 220px;*/
	display: block;
}

/*nav.topnav ul li ul:hover{
	width: 220px;
	height: auto;
}*/


nav.topnav ul li ul li a{
	display: block;
	padding: 8px 10px;
	font-size: 1.167em;
}

nav.topnav ul li ul li:hover{
	background: #414141;
}


#topsearch input{
	width: 304px;
	height: 31px;
	float:right;
	font-size: 1.167em;
	font-weight: 300;
	font-style: italic;
	padding: 0 0 2px 40px;
	background: #fff url(../images/search.png) no-repeat 5px 50%;
	margin-top: 8px;
	border-radius: 5px;
	border: 0;
	color: #A6A6A6;
}

.nav{
	clear: both;
	width: 1050px;
	margin: 0 auto;
	background: url(../images/md-logo.jpg) no-repeat 0 50%;
	height: 90px;
}

.nav ul{
	float:right;
}

.nav ul li{
	display: inline-block;
}

.nav ul li:hover, .nav ul li:hover ul, .nav ul li ul:hover{
	background: #E6E6E6;
}

.nav ul li a{
	display: inline-block;
	/*height: 90px;*/
	box-sizing: border-box;
	font-size: 1.5em;
	font-weight: 400;
	text-decoration: none;
	padding: 35px 10px; 
}

.nav ul li.dropdown a {
	background: url(../images/dwn-arrow-blk.png) no-repeat 15px 50%;
	padding: 35px 10px 35px 30px;
}

.nav ul li ul{
	min-width: 180px;
	width:auto;
	position: absolute;
	display: none;
}

.nav ul li:hover ul{
	display:block;
	padding: 10px 0;
}

.nav ul li ul li{
	display: block;
	padding: 0;
}

.nav ul li.dropdown ul li a{
	width: auto;
	height: auto;
	padding: 8px 15px;
	display: block;
	background-image:none;
}


.nav ul li.dropdown a {
	background: url(../images/dwn-arrow-blk.png) no-repeat 15px 50%;
	padding: 35px 10px 35px 30px;
}

.nav ul li ul li:hover a{
	background: #CFCFCF;
}

.clear{
	clear:both;
}

section.page{
	margin-top: 60px;
}

section.page h1{
	font-weight: 400;
	font-size: 2.5em;
	margin-bottom: 45px;
}

#search input#main-search{
	width: 304px;
	height: 31px;
	font-size: 1.167em;
	font-weight: 300;
	font-style: italic;
	padding: 0 0 2px 40px;
	margin-top: -4px;
	background: #fff url(../images/search.png) no-repeat 5px 50%;
	border-radius: 5px;
	color: #A6A6A6;
	border: solid 4px #EAEAEA;
}

#search input#main-search:focus{
	border: solid 4px rgba(105, 142, 211, 0.31);
}

#search #advanced input[type=text]{
	width: 230px;
	height: 27px;
	
	font-weight: 300;
	font-style: italic;
	padding: 0 5px;

	border-radius: 5px;
	border: 0;
	color: #A6A6A6;
	border: solid 4px #EAEAEA;
}

#search #advanced input[type=text]:focus{
	border: solid 4px rgba(105, 142, 211, 0.31);
}


fieldset#advanced.off{
	display: none;
}

fieldset#advanced.on{
	display: block;
	margin: 45px 0;
}

button{
	width: 155px;
	height: 40px;
	box-sizing: border-box;
	border: solid 2px #E2E2E2;
	border-radius: 5px;
	background: #f5f5f5 url(../images/dwn-arrow-drk-gry.png) no-repeat 95% 46%; /* Old browsers */
	background: url(../images/dwn-arrow-drk-gry.png) no-repeat 95% 46%, -moz-linear-gradient(top,  #f5f5f5 0%, #dbdbdb 100%); /* FF3.6+ */
	background: url(../images/dwn-arrow-drk-gry.png) no-repeat 95% 46%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
	background: url(../images/dwn-arrow-drk-gry.png) no-repeat 95% 46%, -webkit-linear-gradient(top,  #f5f5f5 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/dwn-arrow-drk-gry.png) no-repeat 95% 46%, -o-linear-gradient(top,  #f5f5f5 0%,#dbdbdb 100%); /* Opera 11.10+ */
	background: url(../images/dwn-arrow-drk-gry.png) no-repeat 95% 46%, -ms-linear-gradient(top,  #f5f5f5 0%,#dbdbdb 100%); /* IE10+ */
	background: url(../images/dwn-arrow-drk-gry.png) no-repeat 95% 46%, linear-gradient(to bottom,  #f5f5f5 0%,#dbdbdb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
	color: #747474;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1em;
	cursor: pointer;
	text-align: left;
	padding: 0 12px;
}

@-moz-document url-prefix() {
	button{
		font-size: .9em;
		width: 170px;
	}
}

button:hover, button.hover{
	background: #F5F5F5;
}

button.hover:hover{
	background: #f5f5f5 url(../images/dwn-arrow-drk-gry.png) no-repeat 130px 46%; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f5f5 0%,#dbdbdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#dbdbdb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f5f5 0%,#dbdbdb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

.page h2{
	margin-top: 45px;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 30px;
}

.page h2 span{
	text-transform: none;
	font-size: 0.667em;
	font-weight: 400;
	font-style: italic;
}

#advanced p{
	font-size: 1.333em;
	font-weight: 700;
	margin: 0 8px;
}

#advanced p, #advanced input, #advanced select{
	display: inline-block;
}

#advanced select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfcfc 46%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(46%,#fcfcfc), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfc 46%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfc 46%,#ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfc 46%,#ebebeb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfcfc 46%,#ebebeb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */

	border: solid 3px #EBEBEB;
	width: 200px;
	height: 35px;
    color:#888;

    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

#advanced select:focus{
	border: solid 3px rgba(105, 142, 211, 0.31);
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

#advanced label {position:relative}
#advanced label:after {
content: url(../images/dwn-arrow-drk-gry.png);
	color: #aaa;
	right: 8px;
	padding: 10px 0 2px 8px;
	border-left: 1px solid #EBEBEB;
	position: absolute;
	pointer-events: none;
	width: 17px;
	height: 18px;
}


#advanced input[type=submit]{
	width: 80px;
	height: 40px;
	box-sizing: border-box;

	border-radius: 5px;
	background: rgb(215,242,187); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(215,242,187,1) 1%, rgba(166,226,103,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(215,242,187,1)), color-stop(100%,rgba(166,226,103,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(215,242,187,1) 1%,rgba(166,226,103,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(215,242,187,1) 1%,rgba(166,226,103,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(215,242,187,1) 1%,rgba(166,226,103,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(215,242,187,1) 1%,rgba(166,226,103,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7f2bb', endColorstr='#a6e267',GradientType=0 ); /* IE6-9 */
	color: #60A330;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1em;
	cursor: pointer;
	text-align: left;
	padding: 0 12px;
	margin-top: 20px;
	border: solid 2px #A6E267;
}

#advanced input[type=submit]:hover{
	background: rgb(166,226,103); /* Old browsers */
}

table#results tr{
	border-bottom: solid 1px #ccc;
}

table#results th a{
	text-decoration: none;
	padding-right: 15px;
	background: url(../images/dwn-arrow-gry.png) no-repeat 100% 50%;
}

table#results th a:hover{
	background: url(../images/dwn-arrow-drk-gry.png) no-repeat 100% 49%;
}

table#results th a.sort{
	background: url(../images/dwn-arrow-blk.png) no-repeat 100% 49%;
}

table#results th a:hover{
	color: #333;
}

table#results th{
	font-size: 1.167em;
	font-weight: 600;
	text-align: left;
	padding: 15px 5px 8px 0;
}

table#results td{
	padding: 15px 5px 15px 0;
}

table#results td:first-of-type{
	padding: 15px 5px 15px 5px;
	width: 80px;
}

table#results th:first-of-type{
	padding: 15px 5px 8px 5px;
}

table#results td:nth-of-type(2){
	width: 85px;
}

table#results td:nth-of-type(3){
	width: 100px;
}

table#results td:nth-of-type(4){
	width: 125px;
}

table#results td:nth-of-type(5){
	width: 134px;
}

table#results td:nth-of-type(6){
	width: 80px;
}

table#results td:nth-of-type(7){
	width: 110px;
	
}

table#results td:nth-of-type(8){
	width: 145px;
}

table#results td:nth-of-type(9){
	width: 94px;
}


table#results td span {
display: block;
}


#assessment input[type=text]{
	width: 240px;
	height: 28px;
	border: solid 4px #EAEAEA;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 0 5px;
}

#assessment label{
	font-weight: 300;
	font-size: 1.333em;
	display: block;
	margin-bottom: 5px;
}

#assessment section{
	float: left;
	margin: 0 100px 40px 0;
}

#assessment section:nth-of-type(3){
	margin-right: 0px;
}

#assessment section.nobottommargin{
	margin-bottom: 0;
}

#assessment input:focus{
	border-color: rgba(105, 142, 211, 0.31);
}

#assessment input.error{
	border-color: #F96757;
	background: url(../images/error.png) no-repeat 99% 49%;
}

#assessment input.valid{
	border-color: #A6E266;
	background: url(../images/valid.png) no-repeat 99% 50%;
}

#assessment .col-one, #assessment .col-two{
	font-size: 1.167em;
	float: left;
	margin-right: 40px;

}

#assessment .col-one span, #assessment .col-two span{
	display: block;
	padding: 5px 0;
	font-weight: 300;

}

#assessment .col-one input[type=checkbox] + label, #assessment .col-two input[type=checkbox] + label{
	font-size: 1em;
}

#assessment .col-one input[type=checkbox], #assessment .col-two input[type=checkbox]{
	display: none;
}

#assessment .col-one input[type=checkbox] + label span, #assessment .col-two input[type=checkbox] + label span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/checkbox-bg.png) no-repeat;
	cursor: pointer;
	padding: 0;
	margin: 0 10px -5px 0;
}

#assessment .col-one input[type=checkbox]:checked + label span, #assessment .col-two input[type=checkbox]:checked + label span{
	background: url(../images/checkbox-checked.png) no-repeat;
}


#assessment span{
	display: block;
	padding: 5px 0;
	font-weight: 300;
}

#assessment span.inline{ 
	display: inline-block;
}

#assessment span.inline label{
	margin-right: 20px;
}

#assessment input[type=checkbox] + label{
	font-size: 1.15em;
}

#assessment input[type=checkbox], #assessment .col-two input[type=checkbox]{
	display: none;
}

#assessment input[type=checkbox] + label span, #assessment .col-two input[type=checkbox] + label span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/checkbox-bg.png) no-repeat;
	cursor: pointer;
	padding: 0;
	margin: 0 10px -5px 0;
}

#assessment input[type=checkbox]:checked + label span, #assessment .col-two input[type=checkbox]:checked + label span{
	background: url(../images/checkbox-checked.png) no-repeat;
}

fieldset.new-section{
	border-top: solid 1px #EDEDED;
	margin-top:34px;
}

fieldset.new-section legend{
	background-color: #EDEDED;
	text-transform: uppercase;
	color: #5A5A5A;
	font-weight: 700;
	font-size: 1.5em;
	padding: 8px;
	position: relative;
	top: -16px;
}

textarea{
	width: 800px;
	height: 200px;
	border: solid 5px #EAEAEA;
	border-radius: 5px;
	margin: 5px 0 10px 0;
}

.buttons{
	margin-top: 40px;
}

.buttons button{
	font-size: 2em;
	font-weight: 700;
	text-transform: none;
	color: #737373;
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f5f5 0%,#dbdbdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#dbdbdb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f5f5 0%,#dbdbdb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

.healthform section.buttons input[type=submit]{
	font-size: 2em;
	font-weight: 700;
	color: #61A330;
	width: 194px;
	height: 40px;
	box-sizing: border-box;
	border: solid 2px #A6E267;
	border-radius: 5px;
	cursor: pointer;
	text-align: left;
	padding: 0 12px;
	margin: -10px 0 0 15px;
	background: #d7f2bb; /* Old browsers */
	background: -moz-linear-gradient(top,  #d7f2bb 0%, #a6e267 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7f2bb), color-stop(100%,#a6e267)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d7f2bb 0%,#a6e267 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d7f2bb 0%,#a6e267 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d7f2bb 0%,#a6e267 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d7f2bb 0%,#a6e267 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7f2bb', endColorstr='#a6e267',GradientType=0 ); /* IE6-9 */
}

.buttons button:hover{
	background: #FFFFCC;
	border-color: #F8F7CB;
	color: #DFDC84;
}

.savebuttons{
	float: right;
}

.nextbutton{
	float: left;
}

.healthform input[type=text].long{
	width: 500px;
}
